.loginBoxContainer{
    width: 185px;
    height: 158px;
    background: var(--branco);
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items:center;
    
    .loginBoxContent{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

        span{
            font-weight: bold;
            font-size: 18px;
            margin-top: 1rem;
        }
    }
}

.loginBoxContainer:hover{
    border: 1px solid var(--green-500);
    box-shadow: 2px 4px 10px 1px rgba(94, 204, 91, 0.1);
}