#######################################
# Front-End
#######################################

# dependencies
/Front-End/node_modules
/Front-End/.pnp
/Front-End.pnp.js

# testing
/Front-End/coverage

# next.js
/Front-End/.next/
/Front-End/out/

# production
/Front-End/build

# misc
/Front-End.DS_Store
/Front-End*.pem

# debug
/Front-Endnpm-debug.log*
/Front-Endyarn-debug.log*
/Front-Endyarn-error.log*

# local env files
/Front-End.env.local
/Front-End.env.development.local
/Front-End.env.test.local
/Front-End.env.production.local

# vercel
/Front-End.vercel



#######################################
# Back-End
#######################################

# dependencies
/Back-End/node_modules

# production
/Back-End/dist


