.cardContainer{
    width:20rem;
    margin-right: 3.5rem;
    height:21rem;
    box-shadow: -1px 13px 20px #F0F2F4;
    border-radius: 5px;
    padding: 2.2rem;
    display: flex;
    flex-direction:column;

    .tittleCard{
        width: 10.5rem;
        font-weight: bold;
        font-size: 1.2rem;
        margin: .5rem 0 1rem 0;
    }
}