.problemPageContainer {
  width: 1300px;
  margin: 0 auto;

  .problemPageContent {
    margin: 5rem 0;
    max-width: 1300px;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .problemPageDescription {
      max-width: 1120px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-weight: 800;
        font-size: 42px;
        margin-bottom: 1rem;
      }
      p {
        text-align: justify;
      }
      a {
        text-decoration: none;
        color: var(--green-500);
        font-weight: bold;
      }
      img {
        width: 1120px;
        height: auto;
        margin: 1rem 0;
      }
      h2 {
        margin: 1rem 0;
      }
      figcaption {
        text-align: center;
        color: var(--greylightest-text);
        margin-bottom: 1rem;
      }
      ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
      }
    }

    .ongBlock {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 1rem;
      margin-top: 2rem;

      .ongTexts {
        margin-right: 4rem;

        p:first-child {
          font-weight: bold;
          font-size: 18px;
          color: var(--grey-text);
          margin-bottom: 0.5rem;
        }

        p:last-child {
          font-weight: normal;
          font-size: 15px;
          color: var(--greylightest-text);
        }
      }

      .ongPicture {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
      }
    }

    .newSolutionButton {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 5rem;
      margin-bottom: 1rem;

      button {
        border: none;
        background: var(--green-500);
        display: flex;
        align-items: center;
        color: var(--branco);
        padding: 0.8rem 2rem;
        border-radius: 8px;
        font-weight: bold;
        font-size: 16px;

        .documentIcon {
          margin-right: 1rem;
        }
      }
    }
  }
}
